.dropDownMenu_btn {
display: flex !important;
gap: 15px !important;
background: none !important;
color: black !important;
}

 .dropDownMenu_responsiveMenu {
        display: none;
    }

@media screen and (max-width:900px) {
    .dropDownMenu_btn {
        gap: 10px;
    }
    .dropDownMenu_responsiveMenu {
        display: block;
    }

}