
.hoverCreateScene {
    position: relative;
}
  
.hoverCreateScene::after {
    content: "Create";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s, visibility 0.3s;
}
  
.hoverCreateScene:hover::after {
    opacity: 1;
    visibility: visible;
}
  