@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {

    width: 100%;
    overflow-x: auto;
    background: #FDFDFD;
    border-radius: 19.4764px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.main::-webkit-scrollbar{
    display: none;
}

.table {
    width: 100%;
    background: #FDFDFD;
    border-radius: 19.4764px;
    font-family: 'Poppins';
    color: #6F6F6F;
    border-collapse: collapse;

}

.data {
    height: 50px;
}

.subheadings {
    color: #808080;
    background: #EEECEC;
    padding: 10px;
    font-family: 'Poppins';
    height: 50px;
    border-radius: 10px;
}

.tracker{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: rgba(152, 118, 255, 0.347);
    height: auto;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 12px;
}