.topMenu {
  width: 100%;
  padding: 10px 20px;
  overflow-x: auto;
}

.topMenu::-webkit-scrollbar {
  /* width: 10px; */
  height: 0px;
}


.hoverBackground {
  position: relative;
}

.hoverBackground::after {
  content: "Background";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverBackground:hover::after {
  opacity: 1;
  visibility: visible;
}



.hoverMusic {
  position: relative;
}

.hoverMusic::after {
  content: "Music";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverMusic:hover::after {
  opacity: 1;
  visibility: visible;
}



.hoverText {
  position: relative;
}

.hoverText::after {
  content: "Add  text";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverText:hover::after {
  opacity: 1;
  visibility: visible;
}



.hoverAddChoices {
  position: relative;
}

.hoverAddChoices::after {
  content: "Add  choices";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverAddChoices:hover::after {
  opacity: 1;
  visibility: visible;
}



.hoverUserInput {
  position: relative;
}

.hoverUserInput::after {
  content: "Add  User Input";
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverUserInput:hover::after {
  opacity: 1;
  visibility: visible;
}


.hoverRedirect {
  position: relative;
}

.hoverRedirect::after {
  content: "Add Redirect in chat";
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverRedirect:hover::after {
  opacity: 1;
  visibility: visible;
}

.hoverNarration {
  position: relative;
}

.hoverNarration::after {
  content: "Add short narration";
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hoverNarration:hover::after {
  opacity: 1;
  visibility: visible;
}


.fileUpload input[type="file"] {
  display: none;
}

.fileUpload label {
  display: block;
  background: #9269ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 22px;
  padding: 10px 15px;
  border: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #ffffff;
  width: 155px;
  text-align: center;
}

.fileUpload label:hover {
  background-color: #1976d2;
}

.fileUpload input[type="file"]:hover + label {
  background-color: #1976d2;
}

.fileUpload input[type="file"]:focus + label {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.fileUpload input[type="file"]:valid + label {
  background-color: #4caf50;
}

.fileUpload input[type="file"]:invalid + label {
  background-color: #f44336;
}

.cmsFlowContainer {
  width: 30%;
  margin: auto;
} 
