.chatContainer {
    width: 100%;
    height: 100vh;
    padding: 0px 50px 50px 50px ; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
}

.chatContainer_div::-webkit-scrollbar {
  display: none;
}

.chatContainer_div {
  height:100vh;
  overflow-y: scroll ;
  scroll-behavior: smooth;
  padding-bottom: 50px ;
}



.buttonsWeb {
  position: absolute;
  bottom: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: black;
  padding: 10px;
  z-index: 100;
}
.buttonsPhone {
  display: none;
}
.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  height: 34px;
  width: 34px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 8px 8px rgb(20 19 19 / 11%);
  backdrop-filter: blur(10px);
  color: white;
}





@media screen and (max-width:750px) {
 .chatContainer {
    padding: 0px 30px 30px 30px ; 
    align-items: center;
} 
.buttonsWeb {
 display: none;
}
.buttonsPhone {
  display: flex;
  gap: 20px;
  z-index: 100;
  position: absolute;
  bottom: 8px;
  margin: auto;
  background: transparent;
  align-items: center;
  justify-content: center;
}
}