@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=IM+Fell+Great+Primer+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=Graduate&family=IM+Fell+Great+Primer+SC&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=Graduate&family=IM+Fell+Great+Primer+SC&family=Manrope:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=Graduate&family=IM+Fell+Great+Primer+SC&family=Inter:wght@100;200;300;400;500&family=Manrope:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
h1 {
  font-family: "Raleway" !important;
  font-size: 40px;
}
h3 {
  font-family: "Raleway" !important;
}

p {
  font-family: "Open Sans", sans-serif !important;
}

.app-container {
  max-width: 1550px;
  min-width: 600px;
  margin: auto;
}

/* navbar */

/* navbar */

/* hero */

.hero-section {
  /* background-image: url("/Images/Home/Hero/ProbehaveBg1.jpeg"); */
  height: 100%;
  width: 100%;
  /* background-color: #07122f; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; */
}

/* .hero-section_anya {
  position: absolute;
  top: 30px;
  left: 20px;
  display: flex;
}
.hero-section_anya_chatIcon {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.hero-section_male {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.hero-section_male_chatIcon {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.hero-section_male_chatIcon {
  transform: scaleX(-1);
} */

/* inverted wav */

.inverted-wave {
  background-image: url("/belowHeroWave.svg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 477px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -186px;
  z-index: -1;
}

.wave-text {
  font-family: "Raleway";
  padding: 30px 50px;
  line-height: 150%;
  font-size: 22px;
  width: 70vw;
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: 80px;
}

/* horizontal list / Modules */

/* .horizontal-list-container {
  width: 100%;
  padding: 20px 40px;
  height: 630px;
  display: flex;
  flex-direction: column;
}

.horizontal-list-container h1 {
  font-family: "IM Fell Great Primer SC", serif;
  margin-bottom: 30px;
}

.books-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Raleway";
  overflow-x: scroll;
  overflow-y: hidden;
}

.books-container::-webkit-scrollbar {
  display: none;
}

.books-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.book-img {
  background-image: url("../../public/book.svg");
  width: 254px;
  height: 380px;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.rating {
  width: 100%;
  padding: 0 20px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* horizontal list */

/* popular-section */

.popular-section-container {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  font-family: "Raleway";
  padding: 30px;
}

.popular-section-cards-container {
  position: relative;
}

.lonliness-card {
  width: 260px;
  height: 290px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(4.47334px 8.94668px 26.8401px rgba(109, 141, 173, 0.25));
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
  right: 100px;
  top: 50px;
}

.lonliness-card-img {
  background-image: url("../../public/lonlinesstosigma.png");
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.blue-gradient {
  background: rgba(168, 102, 252, 0.6);
  filter: blur(300px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 300px;
}

.user-card {
  width: 380px;
  height: 350px;
  background: rgba(255, 255, 255, 0.8) 20.83%;
  filter: drop-shadow(4.47334px 8.94668px 26.8401px rgba(109, 141, 173, 0.25));
  border-radius: 45px;
  position: absolute;
  bottom: 110px;
  left: 110px;
  padding: 30px;
}

.user-card hr {
  margin-top: 80px;
}

.user-letter {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card-single {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.most-popular-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.most-popular-container-content {
  display: flex;
  gap: 20px;
  padding: 5px 0px;
  flex-direction: column;
}

.most-popular-container-content h1 {
  font-size: 60px;
}

.most-popular-container-content h2 {
  font-size: 60px;
  color: #70a0f3;
  /* margin-bottom: 50px; */
}

.most-popular-container-content p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #5c5c5c;
  /* margin-bottom: 30px; */
}

.mp-data-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mp-data span {
  color: #70a0f3;
  font-size: 25px;
}

.mp-data p {
  font-size: 15px;
}

.green-gradient {
  background: #2fc5fc;
  filter: blur(250px);
  transform: matrix(-0.04, -1, -1, 0.04, 0, 0);
  height: 250px;
  width: 300px;
  position: absolute;
}

/***************/

.key-features-container {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.key-features-desc {
  padding: 0 30px;
  margin: auto auto;
}

.key-features-desc-heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.key-features-desc-heading h2 {
  font-size: 40px;
  font-family: "IM FELL Great Primer SC";
}

.key-features-desc-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #686868;
  max-width: 600px;
  margin-bottom: 30px;
}

.key-features-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.key-features-card:nth-child(1) {
  width: 450px;
  height: 130px;
  background: linear-gradient(
    95.18deg,
    rgba(34, 185, 233, 0.8) -1.32%,
    rgba(64, 139, 154, 0.8) -1.31%,
    rgba(137, 0, 255, 0.56) 98.38%
  );
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.key-features-card:nth-child(1) h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}

.key-features-card:nth-child(1) p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.key-features-card {
  width: 450px;
  height: 130px;
  background: #f9f9fb;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.key-features-card h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #232323;
}

.key-features-blue-gradient {
  position: absolute;
  background: rgba(87, 196, 255, 0.6);

  filter: blur(250px);
  transform: matrix(-0.04, -1, -1, 0.04, 0, 0);
  height: 400px;
  width: 400px;
}

.key-features-green-gradient {
  position: absolute;
  background: rgba(163, 185, 187, 0.758);

  filter: blur(250px);
  transform: matrix(-0.04, -1, -1, 0.04, 0, 0);
  height: 400px;
  width: 400px;
}

/***********Testimonial **************/

.testimonial-heading {
  display: flex;
  padding: 20px 80px;
  height: 100%;
  position: relative;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.testimonial-heading-mainContainer {
  position: relative;
}
.testimonial-heading-container {
  display: flex;
  flex-direction: column;
}

.testimonial-heading-container h2 {
  color: #040f25;
  font-size: 40px;
}

.testimonial-heading-container p {
  margin-top: 30px;
  font-size: 22px;
  font-family: "DM sans";
  color: gray;
}

.testimonial-gradient {
  background: rgba(168, 102, 252, 0.6);
  filter: blur(300px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  min-height: 300px;
  min-width: 300px;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 100;
}

/*********************************/

.instructor-container {
  display: flex;
  width: 100%;
}
.instructor-container img {
  width: 40%;
  height: 600px;
}

.instructor-container-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 30px;
}

.become-instructor-container {
  display: flex;
  width: 100%;
}

.ellipse-container {
  position: relative;
  width: 130px;
  height: 35px;
  background: linear-gradient(93.19deg, #50c4ee 7.4%, #a667fb 97.34%);
  border-radius: 68.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}

.become-instructor-container h1,
.instructor h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  color: #102437;
}

.instructor {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.instructor p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

/*********************/

.register-page {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100vh;
  overflow-y: hidden;
}

.register-bg-img {
  width: 100%;
  height: 100vh;
  position: relative;
}

.BgImgOne {
  background-image: url("/Images/LoginPage/BgLines.svg");
  position: absolute;
  height: 230px;
  width: 62vw;
  background-repeat: no-repeat;
  top: 208px;
  right: -11px;
  transform: rotate(39deg);
}
.BgImgTwo {
  background-image: url("/Images/LoginPage/BgLines.svg");
  position: absolute;
  height: 230px;
  width: 62vw;
  background-repeat: no-repeat;
  top: 180px;
  right: -11px;
  transform: rotate(39deg);
}
.BgImgThree {
  background-image: url("/Images/LoginPage/CircleOne.svg");
  position: absolute;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  top: 50px;
  right: 50px;
  top: 297px;
  right: 163px;
}
.BgImgFour {
  background-image: url("/Images/LoginPage/CircleTwo.svg");
  position: absolute;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  top: 50px;
  right: 50px;
  top: 173px;
  right: 679px;
}

/* .r-bg-c-1 {
  background-image: url("../../public/c1.svg");
  position: absolute;
  height: 380px;
  width: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10px;
  right: 90px;
}

.r-bg-c-2 {
  background-image: url("../../public/c2.svg");
  position: absolute;
  height: 380px;
  width: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 20px;
  top: 180px;
}

.r-bg-c-3 {
  background-image: url("../../public/c3.svg");
  position: absolute;
  height: 380px;
  width: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 10px;
  right: 90px;
} */

.register-bg-img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 5;
  text-align: center;
}

.register-bg-img-text-span {
  background: -webkit-linear-gradient(
    rgba(34, 185, 233, 0.8),
    rgba(71, 118, 241, 0.713632),
    rgba(137, 0, 255, 0.56)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-bg-img-text h1 {
  color: rgb(41, 39, 39);
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-right: 150px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form h3 {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
  margin-bottom: 20px;
}

.register-form h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #07122f;
}

.input-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.input-container span {
  font-family: "Poppins";
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.input-container input {
  width: 300px;
  height: 50px;
  background: rgba(134, 172, 217, 0.05);
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.input-container .text {
  font-family: "Poppins";
  color: black;
  font-size: 12px;
  margin-top: 3px;
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.02em;

  color: #b1bbc6;
}

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.radio-button input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  border: 1px solid #e4ebf3;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.radio-button input[type="radio"]:checked {
  background: #2fc5fc;
}

.radio-button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  letter-spacing: 0.02em;

  color: #07122f;
}

.submit {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  background-color: #7a9af0;
  border-radius: 25px;
}

.submit button {
  width: 300px;
  height: 50px;
  background: #7a9af0;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  border-style: none;
}

/* .right-arrow-button {
    height: 45px;
    width: 60px;
    border-radius: 30px;
    background-color: #040F25;
    color: white;
} */

.sign-up-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-up-option {
  width: 64px;
  height: 50px;
  border: 1px solid #e4ebf3;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-signup {
  height: 24px;
  width: 24px;
  padding: 8px;
  background-image: url("../../public/facebooklogo.svg");
}

.facebook-signup {
  height: 24px;
  width: 24px;
  background-image: url("../../public/googlelogo.svg");
}



/* Module Page  */



.modulePage {
 display: flex;
 flex-direction: column;
 gap: 120px;
}

.module-main {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.module-heading-paragraph {
  width: 600px;
  height: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module-heading-paragraph h1 {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 86px;
  color: #000000;
}

.module-heading-paragraph p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 162% */

  color: #757575;
}

.module-img-container {
  background-image: url("/Images/modulePage/CardBgImg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-recommedation {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.module-purple-gradient {
  position: absolute;
  background: rgba(186, 55, 247, 0.758);

  filter: blur(250px);
  transform: matrix(-0.04, -1, -1, 0.04, 0, 0);
  height: 400px;
  width: 400px;
  right: 20px;
  z-index: -5;
}

.module-blue-gradient {
  position: absolute;
  background: rgb(172 102 46 / 99%);

  filter: blur(250px);
  transform: matrix(-0.04, -1, -1, 0.04, 0, 0);
  height: 400px;
  width: 400px;
  left: 20px;
  z-index: -5;
}

/*********************************/

.termsandconditions {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.top-left {
  background-image: url("../../public/t&ctopleft.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
}

.bottom-right {
  background-image: url("../../public/bottomRight.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 100vh;
  position: absolute;
  right: -200px;
  z-index: -5;
}

.fade-navbar {
  position: fixed;
  z-index: 10;
}

.termsandconditions-main-container {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.termsandconditions-main h1 {
  position: absolute;
  width: 200px;
  height: 55px;
  left: 83px;
  top: 165px;

  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.termsandconditions-main p {
  position: absolute;
  width: 794px;
  height: 284px;
  left: 83px;
  top: 305px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 55px;
  /* or 220% */

  color: #000000;
}

/* Media Queris  */

/* Hero-Section and Inverted Wave */

@media screen and (max-width: 700px) {
  .anya {
    height: 200px;
    width: 200px;
  }
  .male {
    height: 200px;
    width: 200px;
  }
  .chat1 {
    height: 100px;
    width: 140px;
  }
  .chat2 {
    height: 60px;
    width: 100px;
  }
  .wave-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .wave-text p {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .wave-text p {
    padding: 0;
  }
}

/* Popular-Section  */

@media screen and (max-width: 1200px) {
  .lonliness-card {
    height: 220px;
    width: 180px;
    top: 0px;
    top: 60px;
    right: 100px;
  }
  .lonliness-card-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .lonliness-card h3 {
    font-size: 15px;
  }

  .user-card {
    height: 330px;
    width: 300px;
    left: 0px;
    bottom: 0px;
    left: 130px;
    bottom: 120px;
  }
  .user-letter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .user-card-detail h4 {
    font-size: 20px;
  }
  .user-card-detail p {
    font-size: 8px;
    opacity: 0.56;
  }

  .most-popular-container {
    gap: 20px;
  }
  .most-popular-container-content {
    gap: 10px;
  }
  .most-popular-container-content h1 {
    font-size: 50px;
  }
  .most-popular-container-content h2 {
    font-size: 50px;
  }
  .most-popular-container-content p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 900px) {
  .popular-section-container {
    grid-template-columns: auto;
    gap: 80px;
    margin-bottom: 180px;
  }
  .lonliness-card {
    height: 210px;
    width: 180px;
    right: 30%;
    top: -10px;
  }
  .lonliness-card-img {
    width: 76.65px;
    height: 76.65px;
  }

  .user-card {
    width: 260px;
    height: 240px;
    padding: 10px;
    left: 30%;
    top: 40%;
  }
  .user-card hr {
    margin-top: 50px;
  }
  .user-letter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .user-card-detail h4 {
    font-size: 14px;
  }
  .user-card-detail p {
    font-size: 10px;
    opacity: 0.56;
  }

  .user-card-single {
    padding: 5px;
    margin-top: 10px;
  }

  .most-popular-container-content {
    align-items: center;
    justify-content: center;
  }
  .most-popular-container-content p {
    text-align: center;
    font-size: 20px;
    line-height: 130%;
  }
  .mp-data-container {
    text-align: center;
    margin: auto;
  }
}

/* Module Pages  */

@media screen and (max-width: 900px) {
.module-main {
  flex-wrap: wrap-reverse;
}
.modulePage {
  gap: 55px;
  margin-top: 50px;
}
.module-heading-paragraph {
  height: 100%;
  width: 100%;
}
.module-img-container {
  height: 350px;
  width: 100%;
}
.module-purple-gradient {
  height: 200px;
  width: 200px;
}
.module-blue-gradient {
  height: 200px;
  width: 200px;
}
}
/* Key Features  */

@media screen and (max-width: 900px) {
  .key-features-container {
    grid-template-columns: auto;
  }
  .key-features-desc-heading h2 {
    text-align: center;
    font-size: 30px;
  }
  .key-features-desc-heading p {
    text-align: center;
  }
  .key-features-desc {
    margin-bottom: 30px;
  }
}

/* Testimonial  */

@media screen and (max-width: 900px) {
  .testimonial-heading {
    margin-top: 150px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonial-heading-container {
    align-items: center;
    text-align: center;
  }
}

/* Become Instructor */

@media screen and (max-width: 900px) {
  .instructor-container {
    flex-direction: column;
    align-items: center;
  }
  .become-instructor-container h1 {
    font-size: 45px;
    width: 100%;
    text-align: center;
  }
  .ellipse-container {
    display: none;
  }
  .instructor p {
    text-align: center;
    font-size: 15px;
  }
  .instructor-container img {
    width: 70%;
    margin-top: -50px;
  }
}

/* Log-In  */

@media screen and (max-width: 900px) {
  .register-page {
    grid-template-columns: auto;
  }
  .register-bg-img {
    display: none;
  }
  .MoblieHide {
    display: none;
  }
}


