.textBox1 {
  width: 350px;
  min-height: 100px;
background-color: rgba(255, 255, 255, 0.2);
 border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.11);
  font-family: "poppins";
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 20px ;
  margin-right: 80px;
  backdrop-filter: blur(10px);
}

.textBox1_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -76px;
  right: -69px;
}



@media screen and (max-width:750px) {
  .textBox1 {
    width: 200px;
    min-height: 60px ;
      margin-right: 45px;

  }
  .textBox1_img {
  height: 120px;
  width: 120px;
  right: -55px;
  top: -59px;
}
}
