.type {
  border-radius: 8px;
  display: flex;
  padding: 20px 10px;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #f4f4f4;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.11);
}

.choices {
  display: flex;
  flex-direction: column;
}

.choice {
  height: 36px;
  background: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.75px solid grey;
  border-bottom: none;
  padding: 10px;
}

.choices input {
  height: 36px;
  background: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.75px solid grey;
}

.icons {
  display: flex;
  gap: 10px;
  width: 100%;
}
